body {
  font-family: Arial, Helvetica, sans-serif;
}

.mt-6 {
  margin-top: 60px;
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.input-group .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.fa-40 {
    font-size: 46px;
}

.fa-grey {
    color: rgb(190 190 190);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-close {
    color: #6c757d;
    border-color: #6c757d;
    border: 0;
}